<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionTaller"
        tools:targetApi="31">
        <activity
            android:name=".chief_mechanic.ChiefMechanic_Add_Complete_Diagnostic"
            android:exported="false" />
        <activity
            android:name=".client.Client_RepairDetails"
            android:exported="false" />
        <activity
            android:name=".client.Client_Profile"
            android:exported="false" />
        <activity
            android:name=".mechanic.Mechanic_SelectedTask"
            android:exported="false" />
        <activity
            android:name=".Mechanic_AddCommentsToTask"
            android:exported="false" />
        <activity
            android:name=".Mechanic_OrderPartsForJobs"
            android:exported="false" />
        <activity
            android:name=".mechanic.Mechanic_ModifyTask"
            android:exported="false" />
        <activity
            android:name=".Mechanic_CheckJobs"
            android:exported="false" />
        <activity
            android:name=".chief_mechanic.ChiefMechanic_AsignMechanicsToTask"
            android:exported="false" />
        <activity
            android:name=".chief_mechanic.ChiefMechanic_CheckAsignedRepairs"
            android:exported="false" />
        <activity
            android:name=".chief_mechanic.ChiefMechanic_CreateTask"
            android:exported="false" />
        <activity
            android:name=".chief_mechanic.ChiefMechanic_CompleteTasks"
            android:exported="false" />
        <activity
            android:name=".administrative.Administrative_AsignMechanicsToRepairJob"
            android:exported="false" />
        <activity
            android:name=".administrative.Administrative_NewRepairJob"
            android:exported="false" />
        <activity
            android:name=".administrative.Administrative_newCarEntry"
            android:exported="false" />
        <activity
            android:name=".administrative.Administrative_OrderParts"
            android:exported="false" />
        <activity
            android:name=".administrative.Administrative_CheckPartsStock"
            android:exported="false" />
        <activity
            android:name=".administrative.Administrative_asignCarsToChiefMechanic"
            android:exported="false" />
        <activity
            android:name=".admin.Admin_createAndEditUser"
            android:exported="false" />
        <activity
            android:name=".client.ClientMainPage"
            android:exported="false" />
        <activity
            android:name=".mechanic.MechanicMainPage"
            android:exported="false" />
        <activity
            android:name=".chief_mechanic.MechanicChiefMainPage"
            android:exported="false" />
        <activity
            android:name=".administrative.AdministrativeMainPage"
            android:exported="false" />
        <activity
            android:name=".admin.AdminMainPage"
            android:exported="false" />
        <activity
            android:name=".login_activities.SingUpPage"
            android:exported="false" />
        <activity
            android:name=".login_activities.SignInPage"
            android:exported="false" />
        <activity
            android:name=".login_activities.LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>