<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GestionTaller"
        tools:targetApi="31">
        <activity
            android:name=".ChiefMechanic_Add_Complete_Diagnostic"
            android:exported="false" />
        <activity
            android:name=".Client_RepairDetails"
            android:exported="false" />
        <activity
            android:name=".Client_Profile"
            android:exported="false" />
        <activity
            android:name=".Mechanic_SelectedTask"
            android:exported="false" />
        <activity
            android:name=".Mechanic_AddCommentsToTask"
            android:exported="false" />
        <activity
            android:name=".Mechanic_OrderPartsForJobs"
            android:exported="false" />
        <activity
            android:name=".Mechanic_ModifyTask"
            android:exported="false" />
        <activity
            android:name=".Mechanic_CheckJobs"
            android:exported="false" />
        <activity
            android:name=".ChiefMechanic_AsignMechanicsToTask"
            android:exported="false" />
        <activity
            android:name=".ChiefMechanic_CheckAsignedRepairs"
            android:exported="false" />
        <activity
            android:name=".ChiefMechanic_CreateTask"
            android:exported="false" />
        <activity
            android:name=".ChiefMechanic_CompleteTasks"
            android:exported="false" />
        <activity
            android:name=".Administrative_AsignMechanicsToRepairJob"
            android:exported="false" />
        <activity
            android:name=".Administrative_NewRepairJob"
            android:exported="false" />
        <activity
            android:name=".Administrative_newCarEntry"
            android:exported="false" />
        <activity
            android:name=".Administrative_OrderParts"
            android:exported="false" />
        <activity
            android:name=".Administrative_CheckPartsStock"
            android:exported="false" />
        <activity
            android:name=".Administrative_asignCarsToChiefMechanic"
            android:exported="false" />
        <activity
            android:name=".Admin_createAndEditUser"
            android:exported="false" />
        <activity
            android:name=".ClientMainPage"
            android:exported="false" />
        <activity
            android:name=".MechanicMainPage"
            android:exported="false" />
        <activity
            android:name=".MechanicChiefMainPage"
            android:exported="false" />
        <activity
            android:name=".AdministrativeMainPage"
            android:exported="false" />
        <activity
            android:name=".AdminMainPage"
            android:exported="false" />
        <activity
            android:name=".SingUpPage"
            android:exported="false" />
        <activity
            android:name=".SignInPage"
            android:exported="false" />
        <activity
            android:name=".LandingPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>